@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$primary: #5f48f6;
$light-bg: #f2f5fe;

.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;

  header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid rgb(236, 236, 236);
  }

  aside {
    position: absolute;
    height: 100vh;
    width: 70px;
    display: inline-block;
    border-right: 1px solid rgb(236, 236, 236);
    
    button {
      height: 45px;
      width: 45px;
      display: flex;
      margin: 2em auto;

      img {
        height: auto;
        width: 100%;
      }
    }

    ul {
      display: grid;
      list-style: none;
      justify-content: center;
      width: 100%;
      padding: 0;

      li {
        margin-bottom: 1.5em;
        cursor: pointer;
        width: 25px;
        height: 25px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(7) {
          svg path {
            stroke: rgb(46, 46, 46);
          }
        }
         &:nth-child(6), &:nth-child(5) {
          svg path {
            fill: rgb(46, 46, 46);
          }
        }
        }

        &:nth-child(2), &:hover {
          position: relative;

          &::after {
            content: "";
            height: 100%;
            width: 4px;
            background: $primary;
            position: absolute;
            top: 0;
            right: -23px;
          }
        }

         &:nth-child(6) {
          svg path {
            fill: rgb(122, 122, 122);
          }
        }
        &:nth-child(2), &:nth-child(3) {
          svg  {
            width: 20px;
            height: 20px; 
          }
        }
        &:nth-child(5) {
          svg  {
            width: 16px;
            height: 16px; 
            margin-left: 2px;
          }
        }
        &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(7) {
          svg path {
            stroke: rgb(161, 161, 161);
          }
        }
        svg {
          width: 18px;
          height: 18px;  
        }
      }
    }
  }

  header.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2em;

     .left {
      display: flex;
      align-items: center;

      .logo {
        margin-right: 2em;
      }
      
      .searchInput {
        position: relative;
        width: 15em;

        svg {
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          width: 17px;
          height: 17px;

          path, circle {
            stroke: #555;
          }
        }

        input {
          width: 100%;
          border: none;
          font-size: .9em;
          padding: 10px 2em;
        }
      }
    }

    .right {
      display: flex;

      button.notifications {
        margin-right: 1em;

        svg {
          fill: #555;
          width: 21px;
          height: 21px;
        }
      }

      button.user {
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 7px;

        &:hover {
          background: $light-bg;
        }

        .avatar {
          width: 24px;
          height: 24px;
          margin-right: 10px;

          img {
            border-radius: 100%;
            object-fit: cover;
          }
        }
        .userInfo {
          display: grid;
          text-align: left;

          h5 {
            margin: 0;
            line-height: 1.1;
            font-size: 12px;
          }
          span {
            font-size: 11px;
            color: #8c8f94;
            line-height: 1.1;
          }
        }

        svg {
          width: 14px;
          height: 14px;
          stroke: #414141;
          transform: rotate(-90deg);
          margin-left: 1em;
        }
      }
    }
  }

  .mainView {
    width: calc(100% - 73px);
    margin-left: auto;

    main {
      header {
        padding: 0 2em 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          .breadcrumb {
            display: flex;
            align-items: center;

            a {
              font-size: .9em;
              font-weight: 400;
              
              &:nth-child(1), &:nth-child(3) {
                color: rgb(160, 160, 160);
              }
            }

            svg {
              transform: rotate(180deg);
              margin: 0 7px;
              width: 12px;
              height: 12px;

              path {
                fill: #505050;
              }
            }
          }
        }

        .right {
          display: flex;
          align-items: center;

          .users {
            display: flex;
            margin-right: 1em;

            .avatar, button {
              width: 30px;
              height: 30px;
              margin-right: 7px;
              border-radius: 100%;

              img {
                object-fit: cover;
                border-radius: 100%;
              }
            }

            button {
              border: 1px solid rgb(220, 236, 250);
            }
          }

          button.addTask {
            color: #fff;
            font-weight: 600;
            padding: 7px 10px;
            border-radius: 4px;
            background: $primary;
            margin-right: 1em;
          }

          select.sort {
            padding: 5px 7px;
            border-radius: 4px;
            margin-right: 1em;
            border: 2px solid rgb(220, 236, 250);
          }

          button.menu {
            font-weight: 600;
            padding: 4px 10px;
            border-radius: 4px;
            background: $light-bg;

            svg {
              transform: rotate(-90deg);
              width: 17px;
              height: 17px;
              margin-top: 2px;

              circle {
                fill: #707070;
              }
            }
          }
        }
      }
    }
  }

  .kanban {
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1em 2em 0;

    .table {
      display: inline-flex;
      align-items: flex-start;

      .column {
        max-height: 73vh;
        position: relative;
        height: fit-content;

        .cards {
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 60vh;
          height: fit-content;
          padding-bottom: 3em;
        }

        &Headline {
          position: sticky;
          top: 0;
          padding: 16px 0 7px;
          z-index: 999;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h2.columnTitle {
            text-transform: capitalize;
            font-size: 1.1em;
          }

          button.columnActions {
            padding: 7px 7px 3px;
            border-radius: 5px;

            &:hover {
              background: #e6e9fd;
            }

            svg {
              transform: rotate(90deg);
              width: 18px;
              height: 18px;
              circle {
                fill: rgb(105, 105, 105);
              }
            }
          }
        }

        button.addCard {
          background: #e6e9fd;
          position: absolute;
          bottom: -1px;
          right: 0;
          left: 0;
          width: 100%;
          padding: 1em 1.3em;
          text-align: left;
          color: #8c8eaa;
          border-bottom-left-radius: 1em;
          border-bottom-right-radius: 1em;

          &:hover {
            color: #636480;
            background: #d1d5ee;
          }
        }

        .cardAlert {
          background: $primary;
          color: rgba(255, 255, 255, 0.767);
          font-size: 11px;
          font-weight: 400;
          right: 0;
          padding: 10px 1.4em;
          position: absolute;
          left: 0;
          bottom: 0;
          border-bottom-left-radius: .9em;
          border-bottom-right-radius: .9em;

          &:hover {
            color: #fff;
          }

          &::before, &::after {
            content: "";
            position: absolute;
            top: -25px;
            width: 22px;
            height: 29px;
            background-color: #0000;
            border-radius: 100%;
            box-shadow: 16px 2px 0px 0px $primary;
          }

          &::before {
            right: 0;
            transform: rotate(65deg);
          }
          &::after {
            left: 0;
            transform: rotate(107deg);
          }
        }
      }

      

    .cardContent {

      .headline {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .date {
          color: rgb(148, 148, 148);
          font-size: 10px;

          svg {
            width: 8px;
            height: 8px;
          }
        }

        button.action {
          &:hover {
            svg circle {
              fill: rgb(129, 129, 129);
            }
          }

          svg {
            transform: rotate(90deg);
            width: 13px;
            height: 13px;
            circle {
              fill: rgb(182, 182, 182);
            }
          }
        }
      }

      h3.cardName { 
        font-size: .9em;
      }

      .cardImg {
        width: 100%;
        height: 100px;
        border-radius: 1em;
        object-fit: cover;
        margin: 10px 0;
      }

      .progress {
        margin: 7px 0;

        .title {
          display: flex;
          margin-bottom: 6px;
          justify-content: space-between;
          
          h5 {
            font-weight: 500;
            font-size: 11px;
            color: rgb(131, 131, 131);
          }
        }

        .progressBg {
          margin: 0 auto;
          width: 100%;
          height: 5px;
          border-radius: 20px;
          background: #e8e6f3;
        }

        .progressBar {
          height: 5px;
          border-radius: 20px;
          float: left;
          background-color: $primary; 
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($primary), to($primary)); 
          background: -webkit-linear-gradient(top, $primary, $primary); 
          background: -moz-linear-gradient(top, $primary, $primary); 
          background: -ms-linear-gradient(top, $primary, $primary); 
          background: -o-linear-gradient(top, $primary, $primary);	
        }
      }

      .divider {
        height: 1px;
        width: 100%;
        margin: 22px 0 11px;
        background: rgb(227, 241, 245);
      }

      .moreInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
          display: flex;

          .comments, .files {
            font-size: 11px;
            color: rgb(161, 161, 161);
            display: flex;
            align-items: center;
            margin-right: 10px;

            svg {
              margin-right: 2px;
              path {
                fill: rgb(128, 128, 128);
              }
            }
          }

          .files {
            svg {
              width: 10px;
              height: 10px;
              path {
                fill: rgb(150, 150, 150);
              }
            }
          }

          .comments {
            svg {
              width: 12px;
              height: 12px;
              path {
                fill: rgb(128, 128, 128);
              }
            }
          }
        }

        .medium, .high, .low { // levels
          padding: 1px 6px;
          font-size: 10px;
          border-radius: 10px;
          text-transform: capitalize;
        }

        .high {
          background: #f654485d;
          color: #e21818;
        }

        .medium {
          background: #f68e485d;
          color: #f07524;
        }

        .low {
          background: #4757705d;
          color: #293c5f;
        }

        .users {
          display: flex;

          .avatar, button {
            width: 20px;
            height: 20px;
            margin-right: 3px;
            
            img {
              object-fit: cover;
              border-radius: 100%;
            }
          }

          button {
            color: rgb(202, 202, 202);
            border: rgb(204, 204, 204) 1px solid;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

      button.addGroup {
        width: 300px;
        background: $light-bg;
        border-radius: .9em;
        padding: 1em;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}