/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght$300;400&display=swap');

$nav-color: #6045e2;
$menu-color: #7657f6;
$main-bg: #f9f7fc;
$hover-color: #f1eefb;

.container {
  display: flex;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: all .3s;
  -webkit-transition: all .3s;

  @media screen and (min-width: 650px) {
    max-height: 100vh;
  }

  @media screen and (max-width: 650px) {
    min-height: 100vh;
  }
}

aside {
  height: 100vh;
  width: 350px;
  display: flex;
  position: relative;

  @media screen and (max-width: 650px) {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    width: 120px;
  }
  
  .nav, .menu {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    
    ul {
      padding: 0;
      list-style-type: none;
      
      li {
        cursor: pointer;
        padding: 10px 15px;
        
        span {
          color: #fff;
          font-size: 11px;
          text-transform: uppercase;
        }
      }
    }
  }
  
  .nav {
    background: $nav-color;
    position: absolute;
    height: 100vh;
    z-index: 99;
    
    li {
      color: #fff;
      position: relative;
      padding: 20px !important;

      @media screen and (max-width: 1100px) {
        padding: 15px 20px !important;
      }
      
      &:first-child::before {
        content: "";
        width: 3px;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        @media screen and (max-width: 1100px) {
          width: 2px;
        }
      }
      
      &:nth-child(1) {
        span {
          background: #e4cd4e;
        }
      }
      &:nth-child(2) {
        span {
          background: #c593f9;
        }
      }
      &:nth-child(3) {
        span {
          background: #f18eb0;
        }
      }
      
      span {
        line-height: 0;
        padding: 7px 10px;
        border-radius: 5px; 

        @media screen and (max-width: 1100px) {
          padding: 5px 8px;
          font-size: 11px;
        }
      }
    }
    
    button {
      background: transparent;
      border: 1px solid #fff;
      border-radius: 5px; 
      color: #fff;
      padding: 5px 9px;
      margin-left: 1.5em;
    }
  }
  
  .menu {
    width: 100%;
    background: $menu-color;
    margin-left: 40px;
    padding-left: 3em;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    @media screen and (max-width: 1100px) {
      padding-left: 2em;
    }

    li span:nth-child(2), li .chip, select {
      @media screen and (max-width: 1100px) {
        display: none;
      }
    }

    header {
      padding: 10px;
      padding-right: 1em;
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;

      select {
        background: $nav-color;
        color: #fff;
        border-radius: 20px;
        border: none;
        padding: 3px;
      }

      button {
        background: $nav-color;
        border: none;
        border-radius: 20px;
        padding: 0 3px;

        svg {
          @media screen and (max-width: 1100px) {
            transform: rotate(180deg);
          }
        }
      }
    }

    ul:last-child {
      position: absolute;
      bottom: 1em;
    }
    
    li {
      position: relative;
      display: flex;
      align-items: center;

      span {
        &:first-child {
          margin-right: 12px;
  
          svg {
            width: 15px;
            height: 15px;
    
            path, circle {
              stroke: #fff;
            }
          }
        }
      }

      &:nth-child(4) {
        background: $main-bg;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;

        &::before, &::after {
          content: "";
          position: absolute;
          right: 2px;
          width: 21px;
          height: 31px;
          background-color: #0000;
          border-radius: 100%;
          box-shadow: 16px 2px 0px 0px $main-bg;
        }

        &::before {
          top: -27px;
          bottom: 0;
          transform: rotate(65deg);
        }
        &::after {
          bottom: -27px;
          transform: rotate(-65deg);
        }
        
        span {
          color: $menu-color !important;
          letter-spacing: 0.7px;

          svg path {
            stroke: $menu-color;
          }
        }
      }

      .chip {
        position: absolute;
        right: 30px;
        color: $menu-color;
        font-size: 11px;
        background: #fff;
        padding: 4px;
        border-radius: 10px;
      }
    }
  }
}

main {
  width: 100%;

  @media screen and (max-width: 650px) {
    padding: 3em 0 0;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 650px) {
      background: $menu-color;
      padding: 5px 1em;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 99;
    }

    button.menuIcon {
      @media screen and (min-width: 650px) {
        display: none;
      }
    }

    button.filtersIcon {
      display: block;

      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    .filters {
      display: flex;
      background: #fff;
      border-radius: 4em;

      @media screen and (max-width: 800px) {
        display: none;
      }
      
      input, select {
        background: #fff;
        border: none;
        padding: 15px;
      }

      .search {
        position: relative;

        input {
          border-top-right-radius: 7em;
          border-bottom-right-radius: 7em;
          position: relative;
  
          @media screen and (min-width: 980px) {
            min-width: 315px;
          }
        }

        button {
          border-radius: 4px;
          padding: 4px 7px;
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);

          svg {
            width: 18px;
            height: 18px;

            path, circle {
              stroke: #a1a1a1;
            }
          }

          &:hover {
            background: $hover-color;

            path, circle {
              stroke: $nav-color;
            }
          }
        }
      }

      select {
        border-top-left-radius: 7em;
        border-bottom-left-radius: 7em;
      }

      .divider {
        width: 1px;
        height: 36px;
        margin: auto 12px;
        background: #ececec;
      }
    }
    
    .userActions {
      display: flex;
      align-items: center;

      .notifications {
        position: relative;
        margin: 8px 15px 0;
        padding: 5px 7px;

        &::before {
          content: "";
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background: $nav-color;
          top: 2px;
          right: 5px;
        }

        svg {
          width: 18px;
          height: 18px;

          path {
            fill: #9b9b9b;
          }
        }
      }
      
      .avatar {
        width: 30px;
        height: 30px;
        padding: 0;
        
        img {
          border-radius: 100%;
        }
      }
    }
  }

  .chat {
    display: flex;
    margin-top: 2em;

    @media screen and (max-width: 650px) {
      height: 100%;
    }

    .right, .left {
      height: calc(100vh - 143px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    .left {
      border-left: 1px solid #ebeaee;
      margin-right: 2em;

      @media screen and (max-width: 650px) {
        height: 100%;
      }

      @media screen and (max-width: 800px) {
        width: 100%;
      }

      @media screen and (min-width: 801px) {
        min-width: 200px;
      }

      @media screen and (min-width: 980px) {
        min-width: 300px;
      }

      h2 {
        font-size: 1.2em;
        margin: 0 0 0 1em;
      }

      a.showAll { 
        text-transform: uppercase;
        color: $nav-color;
        font-size: 0.7em;
        margin-left: 6.6em;
        font-weight: 700;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }

        ul {
          list-style: none;
          padding: 0;
          margin-bottom: 5px;

          li {
            position: relative;
            display: flex;
            padding: 10px 25px;
            cursor: pointer;

            &:hover {
              background: $hover-color;
            }

            .avatar {
              background: #fff;
              border-radius: 100%;
              margin-right: 15px;
              width: 35px;
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .user {
              strong {
                margin-bottom: 7px;
              }

              p {
                color: #868686;
                font-size: 12px;
                margin: 0;
                width: calc(88%);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .chip {
              position: absolute;
              right: 10px;
              top: 35%;
              font-size: 12px;
              min-width: 18px;
              height: 18px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              padding: 0 1px;
            }
          }
        
      }

      .groups {
        li {
          &:nth-child(1) {
            .avatar {
              color: #76b0f8;
            }
            .chip {
              background: #76b0f8;
            }
          }
          &:nth-child(2) {
            @media screen and (min-width: 650px) {
              background: $hover-color;

              &::before {
                content: "";
                width: 3px;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: $menu-color;
              }

              .avatar {
                color: #ba85f8;
              }
            }
          }

          &:nth-child(3) {
            .avatar {
              color: #f6b044;
            }

            .chip {
              background: #f6b044;
            }
          }

          &:nth-child(4) {
            .avatar {
              color: #ef7296;
            }

            .chip {
              background: #ef7296;
            }
          }

          &:nth-child(5) {
            .avatar {
              color: #a7e2c8;
            }
          }

          .chip {
            color: #fff;
          }
        }
      }

      .persons {
        h2 {
          margin-top: 1em !important;
        }
        ul {
          li {
            .avatar {
              img {
                object-fit: cover;
                border-radius: 100%;
                width: 100%;
              }
            }

            .chip {
              background: #fff;
              color: $menu-color;
            }
          } 
        }
      }
    }

    .right {
      background: #fff;
      width: 100%;
      position: relative;
      border-radius: 1em;
      display: grid;
      grid-row: 1;
      -webkit-align-content: flex-end;
      align-content: flex-end;

      @media screen and (max-width: 800px) {
        display: none;
      }

      header {
        display: flex;
        padding: 15px 25px;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        background: #fff;
        box-shadow: 0 19px 19px -10px rgba(131, 131, 131, 0.13);

        h3 {
          margin: 0;
          font-size: 1em;
        }

        .participants {
          display: flex;
          align-items: center;

          .avatars {
            display: flex;
            position: relative;
            width: 60px;
            margin-right: 10px;

            img {
              width: 20px;
              border-radius: 100%;
              border: 3px solid #fff;

              &:nth-child(2), &:nth-child(3) {
                position: absolute;
              }
              &:nth-child(2) {
                left: 19px;
              }
              &:nth-child(3) {
                left: 39px;
              }
            }
          }

          span {
            font-size: 12px;
            color: #a0a0a0;
            cursor: pointer;

            &:hover {
              color: #646464;
            }
          }
        }

        .info {
          display: flex;
          align-items: center;
        }
      }

      .messages {
        overflow-y: auto;
        padding: 25px 25px 4.5em;
        height: calc(100% - 134px);
        margin-top: 2em;

        .divider {
          text-transform: uppercase;
          color: #adadad;
          position: relative;
          text-align: center;
          font-size: 12px;
          height: 20px;
          margin: 1em 0;

          &::before {
            content: "";
            width: 100%;
            height: 1px;
            background: #e4e4e4;
            position: absolute;
            left: 0;
            right: 0;    
            top: 37%;
          }

          .text {
            position: absolute;
            background: #fff;
            left: 50%;
            top: 40%;
            padding: 0 10px;
            transform: translate(-50%, -50%);
          }
        }

        .yourMessage, .userMessage {
          margin-bottom: 1em;

          .message {
            width: fit-content;
            border-bottom-left-radius: 0.7em;
            border-bottom-right-radius: 0.7em;
            font-size: 13px;
            padding: 10px 15px;
            margin-top: 7px;

            p {
              margin: 0;
            }
          }
        }

        .userMessage {
          display: flex;

          &:nth-child(2) {
            .message {
              background: #f080a2;
            }
          }
          &:nth-child(4) {
            .message {
              background: #c491f9;
            }
          }
          &:nth-child(7) {
            .message {
              background: #67d0a2;
            }
          }

          .avatar {
            margin-right: 10px;
            width: 30px;
            height: 30px;

            img {
              object-fit: cover;
              border-radius: 100%;
            }
          }

          .content {
            strong { // name
              font-size: 14px;
            }
            .message {
              color: #fff;
              border-top-right-radius: 0.7em;
              border-top-left-radius: 0.2em;
            }

            small {
              font-size: 12px;
              color: rgb(151, 151, 151);
            }

            .audio {
              display: flex;
              align-items: center;

              button {
                background: #fff;
                border-radius: 100%;
                height: 2.5em;
                width: 2.5em;
                margin-right: 1em;
                display: flex;
                align-items: center;
                justify-content: center;

                svg path {
                  fill: #c491f9;
                }
              }

              img {
                height: 60px;
              }
            }
          }
        }

        .yourMessage {
          .message {
            background: $main-bg;
            max-width: 200px;
            margin-left: auto;
            border-top-right-radius: 0.2em;
            border-top-left-radius: 0.7em;
            color: #303030;
          }

          .files {
            display: flex;
            justify-content: flex-end;

            .file {
              margin-left: 7px;
              background: $main-bg;
              display: flex;
              align-items: center;
              padding: 10px;
              border-radius: 6px;

              .file-info {
                display: grid;
                margin-right: 20px;

                span {
                  color: #9b9b9b;
                  font-size: 12px;
                }
              }

              svg {
                &:nth-child(1) {
                  width: 35px;
                  height: 35px;
                  margin-right: 5px;
                }
                &:nth-child(3) {
                  width: 20px;
                  height: 20px;

                  path {
                    fill: $menu-color;
                  }
                }
              }

              &:nth-child(1) {
                svg:nth-child(1) path {
                  fill: #ffc374;
                }
              }
              &:nth-child(2) {
                svg:nth-child(1) path {
                  fill: #ff74c5;
                }
              }
            }
          }
        }
      }

      .form {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        padding: 10px 20px;
        background: #fff;

        .input {
          width: 100%;
          margin-right: 5px;
          position: relative;

          input {
            width: -webkit-fill-available;
            padding: 15px 20px;
            background: $main-bg;
            border-radius: 5px;
            border: 1px solid rgb(207, 207, 207);
            transition: .3s all;
            -webkit-transition: .3s all;

            &:focus, &:active {
              border-color: $menu-color;
            }
          }

          .actions {
            position: absolute;
            right: 10px;
            width: min-content;
            display: flex;
            top: 50%;
            transform: translateY(-50%);

            button {
              border: none;
              background: transparent;
              border-radius: 4px;
              width: auto;

              &:hover {
                background: $hover-color;
                svg {
                  stroke: $menu-color;
                }
              }

              svg {
                width: 23px;
                height: 23px;
                stroke: #8a8a8a;
              }
            }
          }
        }

        button { // submit
          background: transparent;
          border: none;
          width: 60px;
          cursor: pointer;
          border-radius: 4px;

          &:hover {
            background: $hover-color;
          }

          svg {
            stroke: $menu-color;
          }
        }
      }
    }
  }
}

button.more {
  margin-left: 14px;
  border-radius: 4px;
  padding: 5px 7px;

  &:hover {
    background: $hover-color;
  }
  
  svg {
    width: 15px;
    height: 15px;
  }
}*/